<h1>Hoe werkt CheckIn?</h1>
<p>Bij aankomst in een cafe of restaurant wordt de bezoeker gevraagd een QR-code te scannen met zijn of haar smartphone. Deze opent de app Checkin waar de bezoeker zich kan registreren door zich te legitimeren met behulp van zijn of haar bank-app. De contactgegevens worden opgeslagen in een seperate omgeving en niet bij de horecaondernemer.</p>
<p>Wanneer de GGD constateert dat iemand positief is getest op COVID-19, starten zij een contactonderzoek. Als uit het contactonderzoek blijkt dat iemand recent in een horecagelegenheid is geweest, dan kan de GGD daar de contactgegevens opvragen van iedereen die op dezelfde dag en tijd in de horecagelegenheid was.</p>
<p>De horecagelegenheid zal aan Checkin vragen om de contactgegevens over te dragen aan de GGD. Checkin draagt vervolgens die contactgegevens over aan de GGD. Ook in het geval van een contactonderzoek komen jouw contactgegevens niet bij de horecagelegenheid terecht, maar zijn deze alleen inzichtelijk voor de GGD. De GGD kan aansluitend contact met je opnemen.</p>
<p>Als je via checkin incheckt bij een horecagelegenheid ontvangt deze gelegenheid alleen een token</p>
<p>Jouw contactgegevens zijn alleen inzichtelijk voor het platform en worden na twee weken automatisch verwijderd.</p>
