<p>Welkom, om een account voor u te kunnen aanmaken hebben we een aantal gegevens nodig. Nadat u deze hebt opgegeven maken wij een account voor u aan, en kunt u aan de slag.</p>

<p>U ontvangt hiervoor twee separate e-mails, één met uw wachtwoord en één met de overige accountgegevens.</p>
