<p>Welkom, om deel te nemen aan de pilot moeten we een account voor u aanmaken. Hier hebben we een aantal gegevens nodig. Nadat u deze hebt opgegeven maken wij een account voor u aan, en kunt u aan de slag.</p><p> U ontvangt hiervoor twee separate e-mails, &eacute;&eacute;n met uw wachtwoord en &eacute;&eacute;n met de overige accountgegevens.</p>
