<p>Hartelijk bedankt voor uw aanmelding, wij hebben uw gegevens ontvangen en verwerken deze zo snel mogelijk. Zoals u kan begrijpen is het nu heel erg druk en proberen we iedereen zo snel mogelijk te helpen, het kan even duren voordat u uw QR code ontvangt.</p>
<p>Na de verwerking krijgt u twee mailtjes met daarin: </p>
<ul>
    <li>
        De check in QR-code
    </li>
    <li>
        Inloggegevens voor uw persoonlijk dashboard
    </li>
    <li>
        Uw wachtwoord (losse mail)
    </li>
</ul>
<p>Print de QR code uit en hang die duidelijk op voor uw gasten in uw onderneming.</p>
<p>De eerste incasso wordt gedaan als uw proefperiode eindigd. U hoeft niets verder te doen het abonnement wordt automatisch maandelijks verlengt. Bent u niet tevreden of wilt u opzeggen ga dan naar uw persoonlijke pagina en zeg uw abonnement op."</p>
